.navbar{
    display: grid;
    grid-template-columns: 35% 65%;
    border-bottom: 1px solid rgba(0,0,0,.15);
    position: sticky;
    z-index: 500; 
    align-items: center;
    padding: 0 10px;   
}
.profile{
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
}